In [1]:
#https://aiacademy.jp/media/?p=152 　参考
import pandas as pd

In [2]:
#Series
s1 = pd.Series([1,2,3,5])
print(s1)

0    1
1    2
2    3
3    5
dtype: int64

In [8]:
df = pd.DataFrame({
    '名前' :['田中', '山田', '高橋'],
    '役割' : ['営業部長', '広報部', '技術責任者'],
    '身長' : [178, 173, 169]
    })
print(df)
print("\n\n")
print(df.dtypes)
print("\n\n")
print(df.columns) # 列ラベルの確認(辞書型のkeyが列ラベル）

   名前     役割   身長
0  田中   営業部長  178
1  山田    広報部  173
2  高橋  技術責任者  169



名前    object
役割    object
身長     int64
dtype: object



Index(['名前', '役割', '身長'], dtype='object')

In [10]:
df.head()#先頭や末尾からその件数分取得
df.tail()
df.head(3).append(df.tail(3))

   名前     役割   身長
0  田中   営業部長  178
1  山田    広報部  173
2  高橋  技術責任者  169
0  田中   営業部長  178
1  山田    広報部  173
2  高橋  技術責任者  169

In [12]:
#query
df = pd.DataFrame([[10, 20,30, 30], [25, 50,65, 80]], index=["1行", "2行"], columns=["A", "B", "C", "D"])
print(df)
print("\n")

     A   B   C   D
1行  10  20  30  30
2行  25  50  65  80

In [20]:
print(df.query('A == 10'))

     A   B   C   D
1行  10  20  30  30